<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a747.smartlearningmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Todo_List"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Todo_View"
            android:screenOrientation="portrait" />
        <activity
            android:name=".News"
            android:screenOrientation="portrait" />
        <activity
            android:name=".more_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Todo_Add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Elearning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Noti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Todo_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".NotificationPublisher"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Subject_elearn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity android:name=".Video" />
        <activity android:name=".Page_news" />
        <activity android:name=".After_allelearn"></activity>
    </application>

</manifest>